<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Person List</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>Liste des opérations</h1>
	<a href="addOperation">Ajouter une opération</a>
	<br />
	<br />
	<div>
		<table border="1">
			<tr>
				<th>Date</th>
				<th>Description</th>
				<th>Solde</th>
				<th>Facturation</th>
				<th>Code de compte</th>
				<th>Email</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>type operation</th>
				<th>Expéditeur</th>
				<th>Bénéficiaire</th>




			</tr>
			<tr th:each="operation : ${operations}">
				<td th:utext="${operation.dateOperation}">...</td>
				<td th:utext="${operation.description}">...</td>
				<td th:utext="${operation.amount}">...</td>
				<td th:utext="${operation.facturation}">...</td>
				<td th:utext="${operation.compte.idCompte}">...</td>
				<td th:utext="${operation.compte.client.email}">...</td>
				<td th:utext="${operation.compte.client.lastName}">...</td>
				<td th:utext="${operation.compte.client.firstName}">...</td>
				<td th:utext="${operation.class.simpleName}">...</td>
				<td
					th:utext="${operation.class.simpleName=='VirementReceive'}?${operation.nameSender}: '_'"></td>
				<td
					th:utext="${operation.class.simpleName=='VirementSent'}?${operation.nameRecipient}:
				'_'">
				</td>
				

			</tr>
		</table>
	</div>
</body>
</html>